<h1>OHRk</h1>

<p>
Goal: A grand unified cross-referenced archive of <a href="http://hamsterrepublic.com/ohrrpgce">OHRRPGCE</a> games and reviews.<br/>
<i>Website, crawler, aggregator, archive, gamedata inspector, browser, web-based game player.</i>
</p>
<p>
Work in progress. Early days still.
Data from all OHR gamelists and review websites will eventually be imported.
</p>

<p>
The source code for this website is available at
<a href="https://bitbucket.org/rbv/ohr_archive">https://bitbucket.org/rbv/ohr_archive</a>
(license undecided) and the databases are downloadable.

<p>
-- TMC
</p>
