<h1>Gamelist: {listname}</h1>
<p>
  Click the Name to go to the game entry.
  Hint: search by tag name by appending ?tag=..., e.g.
  <a href="gamelists/opohr?tag=Finished game">finished games</a>,
  <a href="gamelists/ss?tag=christmas&tag=halloween">Christmas or Halloween</a>,
  and search by author with ?author=..., e.g.
  <a href="gamelists/cp?author=Rimudora">Rimudora</a>.
</p>
<p>
  Extra columns to display:
  <form class="columns" action="{pageurl}" method="get">
    {column_checkboxes}
    <input type="submit" value="Redisplay">
  </form>
<p>
<p>{filterinfo}</p>
<p>Displaying {numshown} out of {numtotal} games.</p>
<br/>
<table class="sortable gamelist" border="0">
  <tbody>
    {table}
  </tbody>
</table>
