<h1>OHArk</h1>
<p>We have for you various mirrored <a href="gamelists">gamelists</a> to browse.</p>

<p>Or browse games by screenshot in the <a href="gallery">gallery</a>!</p>

<p>The <a href="tags">list of tags</a>.</p>

<p>
  The following pages are temporary or not intended to be public:
  <a href="games">combined game list</a>, <a href="zips">zip files</a>.
</p>

<h2>News</h2>
<p>
  This site hasn't launched yet, but here is a dev log. (You can also view the
  <a href="https://bitbucket.org/rbv/ohr_archive/commits">git log</a>).
</p>
<ul>
  <li>
    2017-12-23: Titlescreens are now extracted from .rpg files.
    That's another 1431 images in the gallery. (Nope, still not dead)
  </li>

  <li>
    2017-06-30: Updated Google Play and Slime Salad indices, adding 25 games. (This site is not dead!)
  </li>

  <li>
    2017-02-18: Sortable table columns and selectable extra columns
    on the games lists. Which review <a href="gamelists/hs?column=screenshots">has 74 screenshots</a>?
    Which games have crazy <a href="gamelists/rpgs/?column=textboxes">number of textboxes</a>?
    Has Giz ever
    <a href="gamelists/rpgs/?column=attacks&column=enemies&column=items&search=giz">made a normal RPG</a>?
  </li>

  <li>
    2017-02-13: Added proper review links/summaries to games.
    Imported <a href="gamelists/hs">reviews, etc., from HamsterSpeak</a>,
    adding 2170 screenshots to the gallery. (Quite unfinished, with some
    entries (mainly Previews) covering multiple games.)
  </li>

  <li>
    2017-02-08: Linked .rpgs and .zips to game entries from which they can be downloaded,
    linked tags, and added the <a href="tags">tag list</a> page.
    Grab screenshots inlined into game descriptions too.
    Added "?search=" game filter (name/author/description/screenshots/etc).
  </li>

  <li>
    2017-02-08: Preview .rpgs in each download right on the game page,
    and on each gamelist show which games have downloadable .rpgs.
    Also a bunch of internal changes: rescued a couple lost Op:OHR entries.
  </li>

  <li>
    2017-02-07: Proper downloads information now shown on the game pages.
  </li>

  <li>
    2017-02-06: Paged viewing of the gallery and filtering, and filtering by author name.
  </li>

  <li>
    2017-02-05: You can view the contents of <a href="zips">zip files</a>.
  </li>
</ul>
