body {
    background-color: #101010;
    color: #dddddd;
    font-family: Courier New;
    font-size: 90%;
    /* padding: 1em 0.8em; */
}

.maincontainer {
    text-align: center;
}

.main {
    text-align: left;
    border-radius: 2em;
    border: solid 4px #222;
    background-color: #333;
    padding: 1em 0.5em 1em 0.5em;
    overflow: auto;    /* Expand to fit all contained floats. (Needed for gallery) */
    /* Causes the size to calculated to fit the contents (shrink-to-fit);
       needed in case the gamelist table is wider than the screen.
       Otherwise a scrollbar appears at the bottom on this div instead of bottom of the screen.
       See http://stackoverflow.com/a/451074/1185152
       But note that there won't be any margin on the RHS if wide than the screen.
       Not sure how to fix that yet. */
    display: inline-block;

    min-width: 60%;
}

.topnote {
    padding: 0 0 0.5em 1.2em;
    font-style: italic;
}

.title {
    font-weight: 900;
    text-decoration-style: dotted;
}

h1 {
    margin: 0.5em 0.5em 0.5em 1em;
}
h2 {
    margin: 0.5em 0.5em 0.5em 1em;
    font-family: auto;
}

.footer {
    color: #bbb;
    padding: 35px 0 9px 0;
    text-align: center;
    font-size: 75%;
}

/* Used on table cells which are headings arranged in the left column */
.heading {
    font-weight: bold;
    font-size: 110%;
}

li {
    padding: 0.2em 0.5em;
}

th {
    padding: 10px 10px;
    /*text-align: left;*/
}
p {
    padding: 0 0.5em;
}

a {
    color: #ffffff;
    text-decoration: underline;
}

table {
/*    padding: 10px 4px;*/
    border-spacing: 10px;
  border-collapse: collapse;
  margin: 0.5em 0em;
}


tr { 
  border-bottom: solid grey;
  border-width: 1px 0;
}

td {
    padding: 10px 0px 10px 10px;
}

/*********************************** Gamelist ********************************/
/* Plus the table stuff above */

table.gamelist {
    padding: 10px 10px;
    min-width: 80%;  /* Thin tables look odd, inconsistent with other tables */
}

/* Reduce padding a little */
td.gamelist {
    padding: 10px 0px 10px 5px;
}
th.gamelist {
    padding: 10px 6px;
}

col.centered {
    text-align: center;
}

form.columns {
    max-width: 800px;
    margin: -1em 0 0 1em;
}

.columns div{
    display: inline-block;
    padding: 4px;
}

/********************************* Game pages ********************************/

table.game {
    padding: 10px 10px;
}

.screenshot {
    float: left;
    padding: 0 1em 1em 0;
}

.screenshot img .DISABLED {
    /* This actually looks bad when scaling down an image... could use a fancy
       rule to select only small images */
    image-rendering: pixelated; /* Chrome */
    image-rendering: -moz-crisp-edges;         /* Firefox */
    image-rendering:   -o-crisp-edges;         /* Opera */
    image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.screenshot img {
    /*width: 200%;*/
    /*min-width: 640px;
    max-width: 640px;*/
    max-width: 520px;
}

.caption {
    /*background-color: #383838;*/
    border-width: 0 1px 3px 1px;
    border-color: #777;
    border-style: outset;
    padding: 3px 2em;
}

div.review_summary {
    padding: 0.5em;
}

/********************************** Gallery **********************************/

.gallery img {
    /* Don't use crisp-edges, since (almost) never scaling up */
    /* I think inline only does something if the <img> is inside a div
       rather an <a>? */
    /*display: inline;*/
    vertical-align: middle;
    padding: 0 2px 0px 0;
    max-width: 320px;
}

/********************************** Archives *********************************/

.zipinfo th {
    text-align: center;
}

table.zipinfo td {

    padding: 10px 25px;
}

.textfile {
    border-width: 3px;
    border-color: #aaa;
    border-style: dotted;
    padding: 1em;
    margin: 0.5em;
    color: #eee;
}

/************************************ Tags ***********************************/

.tagcloud div {
    float: left;
    display: block;
    padding: 0.3em 0.5em;
    margin: 1px;
    border-right-style: dashed;
    border-width: 1px;
    font-size: 80%;
}

.tagcloud a {
    text-decoration: unset;
    font-size: 15px;

}
.taglist div {
    padding: 0.1em 1em;
}

/********************************** Sorttable ********************************/

table.sortable th {
    text-align: center;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: "\25B4\25BE";
    display: block;  /* Display the arrows below */
    margin: -3px 0;
}
#sorttable_sortfwdind {
    display: block;
    margin: -3px 0;
}
#sorttable_sortrevind {
    display: block;
    margin: -3px 0;
}

/*ss-spoiler*/
