<h1>Tags</h1>
<p>
  Sort by <a href="tags?sort=name&display={display}&threshold={threshold}">name</a>,
  <a href="tags?sort=count&display={display}&threshold={threshold}">count</a>.
  Display as <a href="tags?sort={sort}&display=list&threshold={threshold}">list</a>,
  <a href="tags?sort={sort}&display=cloud&threshold={threshold}">cloud</a>.
  Threshold: <a href="tags?sort={sort}&display={display}&threshold=1">1</a>,
  <a href="tags?sort={sort}&display={display}&threshold=3">3</a>,
  <a href="tags?sort={sort}&display={display}&threshold=6">6</a>.
</p>
{content}
