<h1>{heading}</h1>
<p>File size: {size}</p>
<p>Last modified: {mtime}</p>
<p>{downloadable}</p>
<p><b>{note}</b></p>
<p><b>{note2}</b></p>
<table class="sortable zipinfo" border="0">
  <tbody>
    <tr>
      <th>Filename</th>
      <th>Size</th>
      <th>Modified</th>
    </tr>
    {table}
  </tbody>
</table>
